
@font-face {
    font-family: Chalkduster;
    src:local( Chalkduster), url(/fonte/bd9805cba4fdbd10e6f9d097dab9225f.ttf ) /*Para os demais navegadores*/;
    
}

body {
    height:100%; 
    width:99.6%;
 }
/* HEADER **************************************** */
.header{
    background:  rgb(86, 61, 124) ;
    height: 70px;
    width: 1530px;
    
}
.header h1{
    margin-left: 400px;
    font-size: 50px;
    color: white;
    
    
   
}
/* ICONS */
#divGroupIcons{
    
    width: 700px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px ;
    margin-top: 25px;
    }

#iconFacebook{
   
}



.iconHeader{
    height:32px;
    width: 32px;
    margin-left: 10px  ;
  
    
}
#divRightBody{
    width: 250px;
}

.col-2{
    
    border: violet solid 5px;
}


/* MAIN **************************************** */


/* CENTER BODY  */

#center-body{
   margin-top: 100px;
    width: 890px;
    border:red solid 2px;
    
}

.iconCards{
    width: 50px;
    height: 50px;

}


/* CARD 1  */



/* CARD 2  */

/* CARD 2.1  */

#imgQuemSou{
    height:430px ;
    width: 225px;
    margin-left: 35px;
}
#h1QuemSouEu{
    font-size: 30px;
}



/* CARD 3  */






/* RIGHT BODY */
#imgAvatar{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
   margin-right: 30px;
   margin-top: 30px;
 }
 

 .divRadiusHardSkills{
   
    border:red solid 2px;
    border-radius: 25px 25px 25px 25px;
    padding-left: 25px;
 }

 .divHardSkills{
     width: 200px;
     color: rgb(151, 161, 237);
 }


 #tituloHardSkill{
    text-align: center;
    font-size: 25px;
    color: rgb(151, 161, 237);
    margin-top: 10px;
  
}
@keyframes gira {
    to {
        transform: rotate(360deg);
    }
}

#imgEngrenagem1{
    width: 50px;
    height: 50px;
    animation: gira 15s linear infinite;
}


@keyframes giraAntihorario {
    to {
        transform: rotate(-360deg);
    }
}


#imgEngrenagem2{
   
    animation: giraAntihorario 15s linear infinite;
}

.iconHardSkill{
    width: 55px;
    height: 55px;
}
 